<app-header></app-header>
<div class="content">
  <h1 class="page-title">Zagađenost zraka lebdećim česticama</h1>
  <p>
    Sve stanice prikazane na stranici Otvoreni zrak mjere koncentraciju lebdećih
    čestica. Postoje i druga onečišćenja zraka, no lebdeće čestice najčešći su
    oblik onečišćenja u gradovima, značajno utječu na zdravlje i dobar su
    indikator kvalitete zraka.
  </p>
  <p>
    Lebdeće čestice skraćeno označavamo slovima PM (engl. particulate matter)
    dok brojka nakon slova PM označava približni promjer čestice u mikrometrima.
    Koncentraciju lebdećih čestica izražavamo u mikrogramima po metru kubnom,
    odnosno oznakom μg/m3.
  </p>
  <div class="razina niska">NISKA KONCENTRACIJA LEBDEĆIH ČESTICA</div>
  <table class="koncentracija">
    <tr>
      <td>PM 2.5</td>
      <td>PM 10</td>
    </tr>
    <tr>
      <td><span class="dot niska"></span> <span class="num">0-20</span></td>
      <td><span class="dot niska"></span> <span class="num">0-40</span></td>
    </tr>
  </table>
  <p>
    Koncentracija lebdećih čestica je niska, u skladu s vrijednostima koje
    predviđa hrvatski zakon.
  </p>
  <div class="razina granicna">GRANIČNA KONCENTRACIJA LEBDEĆIH ČESTICA</div>
  <table class="koncentracija">
    <tr>
      <td>PM 2.5</td>
      <td>PM 10</td>
    </tr>
    <tr>
      <td><span class="dot granicna"></span> <span class="num">20-30</span></td>
      <td><span class="dot granicna"></span> <span class="num">40-60</span></td>
    </tr>
  </table>
  <p>
    Koncentracija lebdećih čestica je oko graničnih vrijednosti koje predviđa
    hrvatski zakon za dnevnu koncentraciju. Osjetljive osobe trebale bi
    razmisliti o smanjenju intenzivnih aktivnosti na otvorenom ako osjete
    simptome.
  </p>
  <div class="razina visoka">VISOKA KONCENTRACIJA LEBDEĆIH ČESTICA</div>
  <table class="koncentracija">
    <tr>
      <td>PM 2.5</td>
      <td>PM 10</td>
    </tr>
    <tr>
      <td><span class="dot visoka"></span> <span class="num">30-75</span></td>
      <td><span class="dot visoka"></span> <span class="num">60-150</span></td>
    </tr>
  </table>
  <p>
    Koncentracija lebdećih čestica nadilazi granične vrijednosti, zrak je
    narušene kvalitete. Preporučeno je smanjenje intenzivnih aktivnosti na
    otvorenom osobito ako osjetite poteškoće s disanjem.
  </p>
  <div class="razina vrlo-visoka">
    VRLO VISOKA KONCENTRACIJA LEBDEĆIH ČESTICA
  </div>
  <table class="koncentracija">
    <tr>
      <td>PM 2.5</td>
      <td>PM 10</td>
    </tr>
    <tr>
      <td>
        <span class="dot vrlo-visoka"></span> <span class="num">>75</span>
      </td>
      <td>
        <span class="dot vrlo-visoka"></span> <span class="num">>150</span>
      </td>
    </tr>
  </table>
  <p>
    Koncentracija lebdećih čestica povišena je, kvaliteta zraka značajno je
    narušena. Preporučeno je smanjenje i po mogućnosti izbjegavanje aktivnosti
    na otvorenome.
  </p>
  <p>
    Koncentracije lebdećih čestica kategoriziramo na temelju europskog indeksa
    kvalitete zraka o kojem više možete pročitati
    <a href="http://iszz.azo.hr/iskzl/help.htm" class="info">ovdje</a>.
  </p>
  <br />
  <p>
    <a routerLink="/lebdece-cestice">ZAŠTO MJERIMO LEBDEĆE ČESTICE (PM) ></a>
  </p>
</div>
