.sidebar {
  width: 20%;
  padding: 40px;
  height: 90vh;
  //font-family: 'Surogat Condensed';
  font-style: italic;
  font-weight: 900;
  font-size: 28px;
  line-height: 30px;
  /* or 107% */


  color: #000000;
  /* identical to box height */
}

.content {
  width: 80%;
}

.about-container {
  height: 90vh;
}
