<div class="devices-panel">
  <div *ngIf="this.deviceService.selectedDevice">
    <app-device-details
      [device]="this.deviceService.selectedDevice"
    ></app-device-details>
  </div>
  <mat-selection-list
    *ngIf="!this.deviceService.selectedDevice"
    [multiple]="false"
  >
    <h3 mat-subheader>{{ this.devices?.length }} MJERNE STANICE</h3>
    <mat-list-option
      *ngFor="let device of this.devices; last as last"
      (click)="openDetails(device)"
    >
      <h4 mat-line>{{ device.name }}</h4>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>
