<div
  class="devices-panel"
  [class.minimised]="this.minimised && !this.deviceService.selectedDevice"
>
  <div *ngIf="this.deviceService.selectedDevice">
    <app-device-details
      [device]="this.deviceService.selectedDevice"
    ></app-device-details>
  </div>
  <mat-selection-list
    *ngIf="!this.deviceService.selectedDevice"
    [multiple]="false"
  >
    <div class="devices-list-header" mat-subheader>
      <h3 (click)="toggleMinimised()" class="toggle-minimise">
        <span *ngIf="this.minimised" class="material-icons"> expand_less </span>
        <span *ngIf="!this.minimised" class="material-icons">
          expand_more
        </span>
        {{ this.devices?.length }} MJERNE STANICE
      </h3>
      <div>
        <span class="material-icons"> place </span>
        <mat-form-field appearance="fill" class="city-switcher">
          <mat-select [(value)]="this.city">
            <mat-option value="zagreb">Zagreb</mat-option>
            <mat-option value="rijeka">Rijeka</mat-option>
            <!-- <mat-option value="split">Split</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="devices-list">
      <mat-list-option
        *ngFor="let device of this.devices; last as last"
        (click)="openDetails(device)"
      >
        <div class="device-item">
          <div class="device-item-info">
            <span
              class="material-icons"
              [style.color]="
                this.deviceService.pmToColor(device.pm25, device.pm10)
              "
            >
              circle
            </span>
            <span mat-line>{{ device.name }}</span>
          </div>
          <span class="material-icons"> chevron_right </span>
        </div>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div>
