:host {
}

.devices-panel.minimised {
  top: unset;
  left: 0px;
  bottom: 0px;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;

  @media screen and (min-width: 960px) {
    top: 300px;
    left: 40px;
    border-radius: 10px;
    width: 25vw;
    max-width: 400px;
    min-width: 380px;
    height: 450px;
    overflow: auto;
  }
}

.devices-panel {
  position: absolute;
  z-index: 1000;
  top: unset;
  left: 0px;
  bottom: 0px;
  height: 450px;
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    // TODO: figure out how to do inside Material's theming
  }

  .devices-list-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-height: 48px;
    overflow: hidden;

    .material-icons {
      position: relative;
      top: 6px;
    }
  }

  .devices-list {
    overflow: auto;
    height: 400px;
  }

  .city-switcher {
    width: 150px;
  }

  @media screen and (min-width: 960px) {
    top: 300px;
    left: 40px;
    bottom: unset;
  }

  background: white;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  width: 100vw;
  .toggle-minimise {
    cursor: pointer;
    flex-grow: 1;
    font-size: 14px;
  }

  @media screen and (min-width: 960px) {
    border-radius: 10px;
    width: 25vw;
    max-width: 400px;
    min-width: 380px;
    height: 450px;
    overflow: auto;

    .toggle-minimise {
      cursor: default;

      .material-icons {
        display: none;
      }
    }
  }

  .mat-list-item {
    cursor: pointer;
  }

  .device-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .device-item-info {
      display: flex;
      flex-direction: row;
      .material-icons {
        margin-right: 18px;
      }
    }
  }
}
