<div class="devices-panel">
  <div *ngIf="this.selectedDevice">
    <app-device-details [device]="this.selectedDevice"></app-device-details>
  </div>
  <mat-list *ngIf="!this.selectedDevice">
    <h3 mat-subheader>{{ this.devices?.length }} MJERNE STANICE</h3>
    <mat-list-item *ngFor="let device of this.devices; last as last">
      <h4 mat-line (click)="openDetails(device)">{{ device.name }}</h4>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
