:host {
  z-index: 1001;
}

.header {
  .mat-sidenav {
    position: relative;
  }
  .mat-drawer-container {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1010;
    visibility: hidden;
  }
  .mat-list-item {
    height: 64px;
  }
}

.header-toolbar {
  display: flex;
  background: white;
  // position: fixed;
  // height: 190px;
  width: 100%;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.15);
  // padding: 35px 40px;
  .menu-button {
    cursor: pointer;
  }
}

.main-nav {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  @media screen and (min-width: 960px) {
    padding: 40px;
  }
}

.project-title {
  font-size: 31px;
  line-height: 31px;
  font-family: 'Surogat Black Italic', sans-serif;
  font-weight: 900;
  font-style: normal;

  @media screen and (min-width: 960px) {
    // margin-bottom: 42px;
    font-size: 48px;
    line-height: 47px;
  }

  a {
    display: inline;
    text-decoration: none;
    color: #000000;
  }
}

.about-links :hover {
  color: #C8D300;
}

.about-links {
  margin-bottom: 20px;
  margin-right: 20px;
  @media screen and (min-width: 960px) {
    margin-right: 20px;
  }

  // font-family: 'TyponineSans Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  top: 10px;
  a {
    display: inline;
    text-decoration: none;
    color: #000000;
  }
}

.active {
  text-decoration: underline !important;
  font-weight: bold;
}

.logo {
  // margin-bottom: 37px;
  margin-top: 3px;
  position: absolute;
  right: 60px;
  img {
    height: 36px;
  }
  @media screen and (min-width: 960px) {
    position: relative;
    right: unset;
    img {
      height: 50px;
    }
  }
}

.legend-title {
  order: 2;
  margin-bottom: 10px;
  padding-left: 20px;
  @media screen and (min-width: 960px) {
    padding: 0 40px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  span {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
  }
}

.legend {
  display: flex;
  justify-content: stretch;
  order: 3;
  @media screen and (min-width: 960px) {
    padding: 0 40px;
  }
  .legend-item {
    // width: 300px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 3px;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
  }

  .low {
    background-color: #cbd244;
  }
  .moderate {
    background-color: #ffd53b;
  }
  .high {
    background-color: #ff7b7b;
  }
  .extreme {
    background-color: #d963ff;
  }
}
