<header class="header">
  <mat-toolbar class="header-toolbar">
    <mat-toolbar-row class="main-nav">
      <span class="project-title"><a href="/">Otvoreni zrak</a></span>
      <div fxShow="true" fxHide.lt-md>
        <span class="about-links">
          <a href="/inicijativa">O inicijativi ></a>
        </span>
        <span class="about-links">
          <a href="/lebdece-cestice">Zašto mjerimo lebdeće čestice (PM) ></a>
        </span>
        <span class="about-links"><a href="/zagadjenost">Zagađenost zraka lebdećim česticama ></a></span>
      </div>
      <span class="logo">
        <img src="assets/images/mozemo_logo_green_1.svg" />
      </span>
      <span
        class="menu-button material-icons"
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        menu
      </span>
    </mat-toolbar-row>
    <div class="legend-title" *ngIf="showLegend">
      <a href="/legenda">
        <span>ZAGAĐENOST ZRAKA LEBDEĆIM ČESTICAMA</span>
      </a>
    </div>
    <div class="legend" *ngIf="showLegend">
      <div class="legend-item low">Niska</div>
      <div class="legend-item moderate">Umjerena</div>
      <div class="legend-item high">Visoka</div>
      <div class="legend-item extreme">Vrlo visoka</div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>
          <span class="material-icons"> close </span>
        </a>
        <a href="/zagadjenost" mat-list-item
          >Zagađenost zraka lebdećim česticama ></a
        >
        <a href="/lebdece-cestice" mat-list-item
          >Zašto mjerimo lebdeće čestice (PM) ></a
        >
        <a href="/inicijativa" mat-list-item>Otvoreni zrak ></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</header>

<!-- <mat-toolbar-row *ngIf="showLegend">
  <span class="legend-title">Koncentracija lebdećih čestica</span>
</mat-toolbar-row>
<mat-toolbar-row class="legend" *ngIf="showLegend">
  <div class="legend-item low">Niska</div>
  <div class="legend-item moderate">Umjerena</div>
  <div class="legend-item high">Visoka</div>
  <div class="legend-item extreme">Vrlo visoka</div>
</mat-toolbar-row> -->
