.content {
  margin: 5vmin;
  display: flex;
  flex-direction: column;
}

.heavy {
  font-weight: 700;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #373737;
}

a {
  color: black;
  text-decoration: none;
}


img {
  margin-top: 3vh;
  margin-bottom: 3vh;
  max-width: 800px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  text-align: center;
}
