<app-header></app-header>
<div class="content">
  <p class="heavy">Što su lebdeće čestice?</p>
  <p>
    Lebdeće čestice označavaju tvari raspršene u zraku, a njihov kemijski sastav
    može biti bilo kakav. Ključna karakteristika je njihova veličina. Do sedam
    puta su manje su od ljudske dlake i dovoljno sitne da lako rasprše u zraku i
    udisanjem prodrijeti duboko u dišni i krvožilni sustav.
  </p>
  <p>
    Lebdeće čestice skraćeno označavamo slovima PM ( engl. particulate matter),
    brojka nakon slova PM označava približni promjer čestice u mikrometrima.
    Tako PM2.5 označava čestice promjera do 2.5 mikrometra, a PM10 do 10
    mikrometara. (ili slika)
  </p>
  <img src="assets/images/usporedbe.svg" alt="" />
  <p class="heavy">Utjecaj lebdećih čestica na zdravlje</p>
  <p>
    Upravo zbog toga što su lebdeće čestice izuzetno sitne, predstavljaju rizik
    za naše zdravlje. Čestice PM10, mogu prodrijeti u pluća i zaglaviti duboko u
    plućima. Tada otežavaju disanje, spriječavaju normalno funkcioniranje pluća,
    a velike količine čestica akumulirane učestalom izloženošću zagađenom zraku
    mogu izazvati rak pluća.
  </p>
  <p>
    Posebnu opasnost predstavljaju lebdeće čestice PM2.5. One mogu prodrijeti iz
    pluća u krvožilni sustav i ugroziti ostale organe.
  </p>
  <p>
    Ovdje ne uzimamo u obzir kemijski sastav navedenih čestica koji može biti
    opasan i karcinogen sam po sebi. Upravo zbog tih svojstava, lebdeće čestice
    mogu izazvati brojne zdravstvene tegobe, ovisno o količini kojoj smo
    izloženi, kemijskom sastavu i vremenu izlaganja.
  </p>

  <p class="heavy">Zaštitimo se!</p>
  <p>
    Lebdeće čestice možemo primjetiti golim okom za izrazito vedra vremena. Ako
    su u visokoj koncentraciji, smanjuju vidljivosti, a tu pojavu zovemo siva
    mutnoća. Međutim, u većini slučajeva, lebdeće čestice ne možemo detektirati
    vlastitim osjetilima i upravo zato su nam potrebni mjerni uređaji za
    praćenje njihovih koncentracija.
  </p>
  <p>
    Za građane je važno informirati se o kvaliteti zraka i koncentraciji
    lebdećih čestica kako bi zaštitili vlastito zdravlje, ali i pratili
    učinkovitost grada u poboljšanju kvalitete zraka. Grad redovitim mjerenjima
    može prepoznati kada su koncentracije visoke i štetne za zdravlje, upozoriti
    građane i smanjiti izloženost građana zagađenju, a može i uočiti pravilnosti
    u promjeni koncentracije i time prepoznati moguće izvore zagađenja. Nakon
    što prepoznamo izvore zagađenja, možemo djelovati, ukloniti ih i osigurati
    čist zrak.
  </p>
  <p>
    Za više informacija o mogućim utjecajima lebdećih čestica na vaše zdravlje
    obratite se svom liječniku.
  </p>
  <br />
  <p><a href="/inicijativa">O INICIJATIVI OTVORENI ZRAK ></a></p>
</div>
