<app-header></app-header>
<div class="content">
  <h1>Inicijativa Otvoreni zrak</h1>
  <p>Otvoreni zrak nastao je na inicijativu članova platforme Možemo! s ciljem da građanima pruži jasan uvid u trenutnu
    kvalitetu zraka kako bi građani mogli adekvatno reagirati i zaštiti svoje zdravlje.</p>
  <p class="heavy">Zašto Otvoreni Zrak?</p>
  <p>Samo u Zagrebu postoje 4 različite mreže za praćenje kvalitete zraka, a podatke o njima nemoguće je pronaći na
    jednom mjestu. Potaknuti time odlučili smo napraviti Otvoreni zrak – servis koji u stvarnom vremenu na karti
    prikazuje mjerenja koncentracije lebdećih čestica kao najvažnijeg zagađivača zraka i time građanima omogućuje
    pristup razumljivim i ažurnim podatcima o kvaliteti zraka.</p>
  <p class="heavy">Kako smo upotpunili kartu zraka</p>
  <p>Otvoreni zrak objedinjuje podatke s najveće zagrebačke mreže mjernih stanica, mreže Nastavnog zavoda za javno
    zdravstvo „Dr. Andrija Štampar“ i nadopunjuje ih vlastitom mrežom mjernih uređaja na lokacijama koje su izostajale.
    Time se građanima omogućava cjelovit uvid u kvalitetu zraka u Zagrebu, a plan je da servis Otvoreni zrak u
    budućnosti obuhvati sve mjerne stanice za kvalitetu zraka u Zagrebu.</p>
  <p>Mjerne stanice za mjerenje lebdećih čestica izradili smo na temelju postojećih rješenja otvorenog koda, proširili
    ih i integrirali u vlastiti softverski sustav koji je javno dostupan u obliku otvorenog koda. Možemo! mjerne stanice
    zelene su boje, veličine ciglice kave, a udomili su ih članovi naše platforme na svojim prozorima i balkonima.</p>
  <img src="assets/images/stanica2_DSCF9604.svg" alt="stanica u zelenom">
  <p>Projekt Otvoreni zrak financiran je iz vijećničkih naknada i radom članova platforme Možemo! Ovaj projekt ogledni
    je primjer kako tehnologiju možemo oblikovati pristupačno i u službi građana. Podržite nas na predstojećim izborima:
    vrijeme je za digitalni grad, vrijeme je za pravu promjenu!</p>
  <br>
  <p><a href="/zagadjenost">ZAGAĐENOST ZRAKA ></a></p>
</div>
