<div class="device-details">
  <div
    class="device-details-header"
    [style.background-color]="this.deviceColor()"
  >
    <div class="header-text">
      <span class="station-label"
        >MJERNA POSTAJA {{ this.deviceSource() }}</span
      >
      <h4 subheading-1>{{ this.device.name }}</h4>
    </div>
    <mat-icon
      (click)="closeDetails()"
      aria-hidden="false"
      aria-label="close icon"
      class="close"
      >close</mat-icon
    >
  </div>
  <div class="device-details-content" *ngIf="!this.deviceHasStaleData()">
    <table class="mat-table">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">KONCENTRACIJA LEBDEĆIH ČESTICA</th>
          <th class="mat-header-cell">PM2.5</th>
          <th class="mat-header-cell">PM10</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row">
          <td class="mat-header-cell">
            Zadnje izmjereno ({{
              this.deviceLastMeasureTime() | date: 'short':'':'hr-HR'
            }})
          </td>
          <td class="mat-cell">
            <span class="material-icons" [style.color]="this.deviceColorPM25()">
              circle
            </span>
            <span class="pm-value">
              {{ device.pm25 | number: '.0-0' }}
            </span>
          </td>
          <td class="mat-cell">
            <span class="material-icons" [style.color]="this.deviceColorPM10()">
              circle
            </span>
            <span class="pm-value">
              {{ device.pm10 | number: '.0-0' }}
            </span>
          </td>
        </tr>
        <!-- <tr class="mat-row">
          <td class="mat-header-cell">Inače u ovo vrijeme</td>
          <td class="mat-cell">{{ device.pm25 | number: '.0-2' }}</td>
          <td class="mat-cell">{{ device.pm10 | number: '.0-2' }}</td>
        </tr> -->
      </tbody>
    </table>
    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>
  </div>
  <div class="device-details-content" *ngIf="this.deviceHasStaleData()">
    <table class="mat-table">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">MJERENJA TRENUTNO NISU DOSTUPNA</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row">
          <td class="mat-header-cell">
            Zadnje izmjereno ({{
              this.deviceLastMeasureTime() | date: 'short':'':'hr-HR'
            }})
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-header-cell">
            <a
              href="https://ekokartazagreb.stampar.hr/"
              *ngIf="this.device.source.toLocaleLowerCase() === 'ekokarta'"
              >Pogledaj mjerenja na Ekokarti</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
