.device-details-header {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px 0 16px;

  .station-label {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .close {
    cursor: pointer;
  }
}

.device-details-content {
  overflow: auto;
  padding: 15px;
  .mat-table {
    border-spacing: 0px 5px;
  }
  td,
  th {
    padding: 0.5rem;
    text-align: left;
  }
  .mat-header-cell {
    font-size: 12px;
  }
  .mat-cell {
  }
  .material-icons {
    font-size: 19px;
  }
  .pm-value {
    position: relative;
    top: -5px;
    font-size: 14px;
  }
  .chart-container {
    // max-width: 600px;
    height: 200px;
  }
}

a {
  display: inline;
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #C8D300;
}
